.btn {
	display: inline-block;
	padding: var(--size-050) var(--size-100);
	text-align: center;
	border-radius: var(--size-050);
	cursor: pointer;
}

.btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.btn-primary {
	background-color: var(--color-surface-action);
	color: var(--color-text-on-action);
}

.btn-secondary {
	color: var(--color-text-body);
	background-color: var(--color-surface-neutral);
}

.btn-danger {
	background-color: var(--color-surface-danger);
}
.btn-danger.btn-outline {
	background-color: unset;
	border: var(--space-px) solid var(--color-border-danger);
	color: var(--color-text-danger);
}

.btn-outline {
	background-color: unset;
	border: 1px solid var(--color-border-neutral);
}

.btn-sm {
	padding: var(--size-025) var(--size-050);
	font-size: var(--size-075);
}
