.btn {
	display: inline-block;
	background-color: #eee;
	padding: var(--space-2) var(--space-3);
	text-align: center;
	border-radius: var(--space-2);
	cursor: pointer;
}

.btn-danger {
	background-color: hsl(0deg, 100%, 90%);
}

.btn-outlined {
	background-color: unset;
	border: 1px solid #eee;
}

.btn-sm {
	padding: var(--space-1) var(--space-2);
	font-size: 0.75rem;
}
