.btn {
	display: inline-block;
	background-color: #eee;
	padding: var(--size-050) var(--size-100);
	text-align: center;
	border-radius: var(--size-050);
	cursor: pointer;
}

.btn-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.btn-primary {
	background-color: hsl(240deg, 100%, 80%);
}

.btn-secondary {
	background-color: hsl(120deg, 100%, 90%);
}

.btn-danger {
	background-color: hsl(0deg, 100%, 90%);
}

.btn-outlined {
	background-color: unset;
	border: 1px solid #eee;
}

.btn-sm {
	padding: var(--size-025) var(--size-050);
	font-size: var(--size-075);
}
