.input-control {
	border: 1px solid var(--color-border-neutral);
	padding: 0.5rem;
	color: var(--color-text-body);
}

.input-spinner {
	display: inline-block;
	border: 1px solid var(--color-border-neutral);
	border-left: none;
	padding-top: 0.375rem;
	width: 2.5rem;
	font-size: 1.25rem;
	text-align: center;
	color: var(--color-text-body);
}
