.list {
    display: flex;
    flex-direction: column;

    border: 1px solid #eee;
    border-radius: var(--size-050);
}

.list > .list-item + .list-item {
    border-top: 1px solid #eee;
}

.list-item {
    padding: var(--size-050) var(--size-100);
}
