.list {
	--list-border-radius: var(--size-050);

	display: flex;
	flex-direction: column;

	border: 1px solid var(--color-border-neutral);
	border-radius: var(--list-border-radius);
	background-color: var(--color-surface-page);
}

.list-flush {
	border: unset;
	border-radius: unset;
}

.list > .list-item + .list-item {
	border-top: 1px solid var(--color-border-neutral);
}

.list-item {
	padding: var(--size-050) var(--size-100);
	color: var(--color-text-body);
	text-decoration: none;
}

.list-item-action {
	cursor: pointer;
}
.list-item-action:hover {
	background-color: var(--color-surface-page-hover);
}
.list:not(.list-flush) .list-item-action:first-child:hover {
	border-top-left-radius: var(--size-050);
	border-top-right-radius: var(--size-050);
}
.list:not(.list-flush) .list-item-action:last-child:hover {
	border-bottom-left-radius: var(--size-050);
	border-bottom-right-radius: var(--size-050);
}
