.toolbar {
	--toolbar-padding-x: var(--size-075);
	--toolbar-padding-y: var(--size-075);
	--toolbar-height: calc(var(--toolbar-padding-y) * 2 + var(--size-100) * 1.5);

	display: flex;
	align-items: center;
	gap: var(--size-075);

	height: var(--toolbar-height);
	padding: var(--toolbar-padding-y) var(--toolbar-padding-x);
}

.toolbar-fixed-top {
	position: fixed;
	top: 0px;
	width: 100%;
}
.toolbar-fixed-bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.toolbar-spacer {
	flex-grow: 1;
}

.toolbar-primary {
	background-color: #eee;
}
.toolbar-primary.toolbar-top {
	border-bottom: 1px solid #ddd;
}
.toolbar-primary.toolbar-fixed-bottom {
	border-top: 1px solid #ddd;
}
