.toolbar {
	--toolbar-padding-x: var(--space-2);
	--toolbar-padding-y: var(--space-2);
	--toolbar-height: calc(var(--toolbar-padding-y) * 2 + var(--size-3) * 1.5);

	display: flex;
	align-items: center;
	gap: var(--space-2);

	height: var(--toolbar-height);
	padding: var(--toolbar-padding-y) var(--toolbar-padding-x);
}

.toolbar-fixed-bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.toolbar-spacer {
	flex-grow: 1;
}

.toolbar-primary {
	background-color: #eee;
}
.toolbar-primary.toolbar-top {
	border-bottom: 1px solid #ddd;
}
.toolbar-primary.toolbar-fixed-bottom {
	border-top: 1px solid #ddd;
}
