.toolbar {
	--toolbar-padding-x: var(--size-075);
	--toolbar-padding-y: var(--size-075);
	--toolbar-height: calc(var(--toolbar-padding-y) * 2 + var(--size-100) * 1.5);

	display: flex;
	align-items: center;
	gap: var(--size-075);

	height: var(--toolbar-height);
	padding: var(--toolbar-padding-y) var(--toolbar-padding-x);

	background-color: var(--color-surface-neutral);
}
.toolbar * {
	color: var(--color-text-body);
}

.toolbar-fixed-top {
	position: fixed;
	top: 0px;
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	border-bottom: 1px solid var(--color-border-neutral);
}
.toolbar-fixed-bottom {
	position: fixed;
	bottom: 0px;
	height: calc(var(--toolbar-height) + env(safe-area-inset-bottom));
	width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
	border-top: 1px solid var(--color-border-neutral);
	padding-bottom: calc(var(--toolbar-padding-y) + env(safe-area-inset-bottom));
}

.toolbar-ghost {
	background-color: unset;
	border: unset;
}

.toolbar-spacer {
	flex-grow: 1;
}
