@import "../node_modules/ress/ress.css";

:root {
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
}

.flex { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    min-width: 50px;
}

/* #app {
    min-height: 100vh;
} */

.btn {
    display: inline-block;
	background-color: #eee;
	padding: 0.5rem;
}
.btn-outlined {
	background-color: unset;
    border: 1px solid #eee;
}
.btn-sm {
    font-size: 0.75rem;
}
