:root {
	--sizing: 16px;
	--size-025: calc(var(--sizing) * 0.25);
	--size-050: calc(var(--sizing) * 0.50);
	--size-075: calc(var(--sizing) * 0.75);
	--size-100: calc(var(--sizing) * 1.00);
	--size-125: calc(var(--sizing) * 1.25);
	--size-150: calc(var(--sizing) * 1.50);
	--size-200: calc(var(--sizing) * 2.20);
}

html {
	font-size: var(--size-100);
	font-family: Arial, Helvetica, sans-serif;
}
