/* Grayscale Design palette: https://grayscale.design/app?lums=93.87,90.43,85.46,78.45,68.75,55.49,38.90,25.64,15.94,8.93,3.96,0.52&palettes=%23d1701c,%2385870d,%23639ce6,%23e05c5c,%232d9c26&filters=0%7C0,0%7C0,0%7C0,0%7C0,0%7C0&names=orange,yellow,blue,red,green&labels=,,,, */
:root {
	--grayscale-50: rgb(248, 248, 248);
	--grayscale-100: rgb(244, 244, 244);
	--grayscale-200: rgb(238, 238, 238);
	--grayscale-300: rgb(229, 229, 229);
	--grayscale-400: rgb(216, 216, 216);
	--grayscale-500: rgb(196, 196, 196);
	--grayscale-600: rgb(168, 168, 168);
	--grayscale-700: rgb(139, 139, 139);
	--grayscale-800: rgb(111, 111, 111);
	--grayscale-900: rgb(84, 84, 84);
	--grayscale-1000: rgb(56, 56, 56);
	--grayscale-1100: rgb(16, 16, 16);

	--orange-50: rgb(253, 247, 242);
	--orange-100: rgb(252, 242, 234);
	--orange-200: rgb(251, 235, 222);
	--orange-300: rgb(248, 225, 205);
	--orange-400: rgb(245, 210, 179);
	--orange-500: rgb(240, 186, 139);
	--orange-600: rgb(231, 149, 76);
	--orange-700: rgb(210, 113, 28);
	--orange-800: rgb(169, 91, 23);
	--orange-900: rgb(129, 69, 17);
	--orange-1000: rgb(86, 46, 12);
	--orange-1100: rgb(25, 14, 3);

	--yellow-50: rgb(250, 251, 208);
	--yellow-100: rgb(247, 248, 185);
	--yellow-200: rgb(242, 244, 140);
	--yellow-300: rgb(234, 237, 66);
	--yellow-400: rgb(221, 224, 22);
	--yellow-500: rgb(200, 204, 20);
	--yellow-600: rgb(171, 174, 17);
	--yellow-700: rgb(141, 144, 14);
	--yellow-800: rgb(114, 115, 11);
	--yellow-900: rgb(86, 88, 8);
	--yellow-1000: rgb(58, 58, 6);
	--yellow-1100: rgb(17, 17, 2);

	--blue-50: rgb(245, 248, 253);
	--blue-100: rgb(239, 245, 252);
	--blue-200: rgb(230, 239, 251);
	--blue-300: rgb(216, 231, 249);
	--blue-400: rgb(198, 218, 246);
	--blue-500: rgb(168, 199, 241);
	--blue-600: rgb(122, 170, 234);
	--blue-700: rgb(73, 140, 226);
	--blue-800: rgb(33, 109, 209);
	--blue-900: rgb(26, 83, 159);
	--blue-1000: rgb(17, 56, 106);
	--blue-1100: rgb(5, 17, 32);

	--red-50: rgb(253, 247, 247);
	--red-100: rgb(252, 242, 242);
	--red-200: rgb(251, 234, 234);
	--red-300: rgb(249, 223, 223);
	--red-400: rgb(246, 207, 207);
	--red-500: rgb(241, 182, 182);
	--red-600: rgb(234, 142, 142);
	--red-700: rgb(225, 98, 98);
	--red-800: rgb(213, 41, 41);
	--red-900: rgb(164, 31, 31);
	--red-1000: rgb(111, 21, 21);
	--red-1100: rgb(35, 7, 7);

	--green-50: rgb(240, 251, 240);
	--green-100: rgb(231, 249, 230);
	--green-200: rgb(218, 245, 216);
	--green-300: rgb(199, 240, 196);
	--green-400: rgb(167, 232, 163);
	--green-500: rgb(116, 219, 109);
	--green-600: rgb(57, 192, 47);
	--green-700: rgb(47, 159, 39);
	--green-800: rgb(38, 128, 31);
	--green-900: rgb(29, 97, 24);
	--green-1000: rgb(19, 65, 16);
	--green-1100: rgb(6, 19, 5);
}

:root {
	--sizing: 16px;
	--size-025: calc(var(--sizing) * 0.25);
	--size-050: calc(var(--sizing) * 0.50);
	--size-075: calc(var(--sizing) * 0.75);
	--size-100: calc(var(--sizing) * 1.00);
	--size-125: calc(var(--sizing) * 1.25);
	--size-150: calc(var(--sizing) * 1.50);
	--size-200: calc(var(--sizing) * 2.20);

	/* ===== Brand ===== */

	--space-base: 16px;
	--space-0: 0;
	--space-px: 1px;
	--space-1: calc(var(--space-base) * 0.25);
	--space-2: calc(var(--space-base) * 0.5);
	--space-3: calc(var(--space-base) * 0.75);
	--space-4: var(--space-base);
	--space-5: calc(var(--space-base) * 1.25);
	--space-6: calc(var(--space-base) * 1.5);
	--space-7: calc(var(--space-base) * 1.75);
	--space-8: calc(var(--space-base) * 2);

	--density: 1;

	--size-base: calc(var(--space-4) * var(--density));
	--size-0: 0;
	--size-px: 1px;
	--size-1: calc(var(--size-base) * 0.25);
	--size-2: calc(var(--size-base) * 0.5);
	--size-3: calc(var(--size-base) * 0.75);
	--size-4: var(--size-base);
	--size-5: calc(var(--size-base) * 1.25);
	--size-6: calc(var(--size-base) * 1.5);
	--size-7: calc(var(--size-base) * 1.75);
	--size-8: calc(var(--size-base) * 2);

	/* ===== Aliases ===== */

	--primary-50: var(--green-50);
	--primary-100: var(--green-100);
	--primary-200: var(--green-200);
	--primary-300: var(--green-300);
	--primary-400: var(--green-400);
	--primary-500: var(--green-500);
	--primary-600: var(--green-600);
	--primary-700: var(--green-700);
	--primary-800: var(--green-800);
	--primary-900: var(--green-900);
	--primary-1000: var(--green-1000);
	--primary-1100: var(--green-1100);

	--secondary-50: var(--grayscale-50);
	--secondary-100: var(--grayscale-100);
	--secondary-200: var(--grayscale-200);
	--secondary-300: var(--grayscale-300);
	--secondary-400: var(--grayscale-400);
	--secondary-500: var(--grayscale-500);
	--secondary-600: var(--grayscale-600);
	--secondary-700: var(--grayscale-700);
	--secondary-800: var(--grayscale-800);
	--secondary-900: var(--grayscale-900);
	--secondary-1000: var(--grayscale-1000);
	--secondary-1100: var(--grayscale-1100);

	/* ===== Mapped ===== */

	/**
	 * text -> heading, body, action
	 * text -> disabled, info, success, warning, error
	 * text -> on-action, on-disable, on-...
	 *
	 * surface -> page, success, disabled ... (high contrast subtle background for text)
	 * surface -> action
	 *
	 * icon
	 * border
	 */

	--color-text-body: var(--grayscale-1100);
	--color-text-disabled: var(--grayscale-800);
	--color-text-on-action: var(--grayscale-100);

	--color-surface-action: var(--primary-700);
	--color-surface-secondary: var(--secondary-200);

	--color-border-secondary: var(--secondary-400);

	--border-secondary: var(--space-px) solid var(--color-border-secondary);
}

html {
	font-size: var(--size-100);
	font-family: Arial, Helvetica, sans-serif;
}

* {
	color: rgba(255, 0, 255, 1);
	background-color: rgba(255, 0, 255, 0.2);
	border-color: rgba(255, 0, 255, 0.4);
}
